# Data Preparation Basics
## Part 1 - Filtering and selecting data

What is NumPy, and what is its primary purpose in Python?

What is Pandas, and what is its primary purpose in Python?

Use an empty cell to answer these questions.

In [45]:
# Import important libraray
import numpy as np
import pandas as pd

# Two data types: Series and DataFrame
# Series can only contain single list with index
# Dataframe is a collection of series that can be used to analyse the data (a table with rows and columns)
from pandas import Series, DataFrame

In [46]:
# Numpy is a library for scientific computing, such as linear algebra, Fourier transform, and random number capabilities. 
# It is widely used in data science and machine learning.
# Likewise, pandas is built on top of numpy.
# Pandas is a library that provides data structures and data analysis tools for data manipulation and analysis.
# Both libraries work well together.

In [47]:
# Without an index
#serios_obj = Series(np.arange(10))
#serios_obj
# With an index
# Practise both
series_obj = Series(np.arange(10), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6','row 7', 'row 8', 'row 9', 'row 10'])
print(series_obj)
print('')

no_index = Series(np.arange(10))
print(no_index)
print('')

series_obj_2 = Series([1,2,3,4,5], index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5'])
print(series_obj_2)

row 1     0
row 2     1
row 3     2
row 4     3
row 5     4
row 6     5
row 7     6
row 8     7
row 9     8
row 10    9
dtype: int64

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

row 1    1
row 2    2
row 3    3
row 4    4
row 5    5
dtype: int64

In [48]:
print(series_obj.index[series_obj.index == 'row 7'])

Index(['row 7'], dtype='object')

In [49]:
# Print both indexes at row 1 & 8
print(series_obj[[0, 7]])

row 1    0
row 8    7
dtype: int64

/var/folders/f1/p4cf4cmd4p16g82_wbklt_000000gn/T/ipykernel_2796/3754546903.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_obj[[0, 7]])

In [50]:
# Populate the list with random values
np.random.seed(25)

# Search random.seed in Python and provide an explaniation here: ...
# What does seed function do?
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2', 'row 3', 'row 4','row 5','row 6'],
                   columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

# Run the above code with and without np.random.seed and reflect on the difference here: ...

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [51]:
#Find data at different location
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]
# What does loc function do?

# the loc function is used to access a group of rows and columns by labels etc.

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [52]:
series_obj['row 3': 'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

In [53]:
DF_obj < .2
# Use greater than instead and reflect on the result

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False

### Filtering with scalars

In [54]:
# Retrieves all elements in series_obj that are greater than 6.
series_obj[series_obj > 6]

# Retrive all elements that are smaller than 5

row 8     7
row 9     8
row 10    9
dtype: int64

### Setting values with scalars

In [55]:
# Assign the value 8 to specific rows using .loc
series_obj.loc[['row 1', 'row 5', 'row 8']] = 8
series_obj

row 1     8
row 2     1
row 3     2
row 4     3
row 5     8
row 6     5
row 7     6
row 8     8
row 9     8
row 10    9
dtype: int64

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.